/* Menu Button Styles */
#menuButton {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
    z-index: 1000;
}

/* Side Menu Container */
#sideMenu {
    position: absolute;
    top: 20px;
    left: -250px;
    width: 284px;
    max-height: calc(100vh - 40px);
    background: #111;
    color: white;
    transition: all 0.6s ease;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1001;
    border: 2px solid rgba(245, 222, 179, 0);
    opacity: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#sideMenu::-webkit-scrollbar {
    display: none;
}

#sideMenu.open {
    left: 20px;
    border: 2px solid wheat;
    opacity: 1;
}

/* Menu Canvas */
#menuCanvas {
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: -1;
    pointer-events: none;
}

/* Menu Content Styles */
.tile-header {
    margin-top: 0;
}

.tile-option {
    position: relative;
    width: 72px;
    height: 72px;
    margin: 0;
    clip-path: polygon(25% 6.7%, 75% 6.7%, 100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%);
    object-fit: cover;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 0.7;
}

.tile-option.selected {
    box-shadow: 0 0 0 4px lime;
    opacity: 1;
}

#tilesContainer {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0;
    column-gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    /*max-height: calc(100vh - 120px);*/
}

#tilesContainer::-webkit-scrollbar {
    display: none;
}